.list-products-container {
  position: relative;
  z-index: 1;
  overflow: visible;
}

.products-list {
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

.products-title {
  text-align: center;
  color: #2980b9;
}

.epmty-message {
  text-align: center;
  color: #2980b9;
}
