.basket-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket-list {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.basket-title {
  text-align: center;
  color: #2980b9;
}

.checkout-btn {
  width: 30%;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.epmty-message {
  text-align: center;
  color: #2980b9;   
}
